.card {
  max-width: 380px;
  border-radius: 10px;
  box-shadow: $shadow;
  transition: all 0.3s ease;
  height: fit-content;

  &:nth-child(odd) {
    margin-top: -350px;

    @media (max-width: 1000px) {
      margin-top: 0;
    }
  }

  &__content {
    padding: 56px 48px 48px;
  }

  &__img {
    margin: 0 auto;
    display: block;
  }

  &:hover {
    transform: translateY(-10px);
  }

  &__title {
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text {
    margin-bottom: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    display: flex;
    max-width: fit-content;
    gap: 24px;
    transition: all 0.3s ease;

    &:hover {
      gap: 40px;
    }

    &__title {
      font-size: 14px;
      color: $blue_04;
    }
  }
}
