//colors
$blue_01: #1F3F68;
$blue_02: #316099;
$blue_03: #356EAD;
$blue_04: #5A98D0;
$blue_05: #98C3E8;

//shadow
$shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);

//width
$container-width: 940px !default;